.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin-left: 34px;
    margin-bottom: 34px;
  }

  .site{
    background-color: #eef9bf;
    width: 1110px;
    height: auto;
  }

  .cardTable{
    display: flex;
    flex-wrap: wrap;
    margin-left: 88px;
    margin-right: 88px;
  }

  h1 {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    padding-left: 285px;
    padding-bottom: 47px;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  /* .card:hover .back-face {
    transform: rotateY(0deg);
  }

  .card:hover .front-face {
    transform: rotateY(-180deg);
  } */

  @media (max-width: 335px){
    h1{
        font-size: 36px;
        padding-top: 40px;
        padding-left: 12px;
        padding-bottom: 47px;
        text-align: center;
    }

    .site{
        width: 335px;
        height: auto;        
    }
  }

